services:
  postgres:
    image: postgis/postgis:16-master
    container_name: postgres
    restart: unless-stopped

    env_file:
      - .env

    ports:
      - "${POSTGRES_OUT_PORT}:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - ./backend:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

volumes:
  postgres_data:
